<h1> Cheers <%= @user.name %>! </h1>

<h3> From <%=@user.location %> <h3>

<% @user.posts.each do |post| %>
  <%= post %>
<% end %>

<%= button_to "Logout", login_path, method: 'delete' %>
<%# button_to "Delete Your Account", user_path(@user), method: 'delete' %>
