<h1> Cheers <%= @user.name %>! </h1>
<<<<<<< HEAD

<h3> From <%=@user.location %> <h3>
=======
>>>>>>> devin
<hr>

<% @user.posts.each do |post| %>
  <%= post.description %>
<% end %>

<<<<<<< HEAD

<!-- also list their favorites, when we have that feature created.
 -->
=======
<%= button_to "Logout", login_path, method: 'delete' %>
<%# button_to "Delete Your Account", user_path(@user), method: 'delete' %>
>>>>>>> devin
